.page-header
  %ol.breadcrumb
    %li= link_to @construction.title, current_user.administrator? ? construction_path(@construction) : constructions_path(mode: params[:mode])
    %li.active Estimaciones
  %h1
    %small
      Extensiones
      .pull-right
        = link_to 'Nueva estimacion', new_estimate_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}

.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Cantidad
          %th Fecha de pago
          %th
      %tbody
        = render partial: 'estimate', collection: @estimates

