.panel.panel-success
  .panel-heading
    %h3 Orden de compra
    .row
      .col-md-4
        Madereria y Construcciones Allpino Sa de Cv
      .col-md-3.col-md-offset-5
        Folio:
        = purchase_order.folio
  .panel-body
    %p
      %b Direccion
      AGUSTIN YAÑEZ 141-1 PB FRACC. VILLAS DE LA UNIVERSIDAD AGUASCALIENTES, AGS. MEXICO

    %p
      %b Telefono
      01 (449) 914 9388  
      %span.pull-right
        %b  E-mail:
        allpino_cotizaciones@yahoo.com
    %p
      %b R.F.C.
      MCA-990225-MJ0
    %h3
      %p
        %b Para :
        = purchase_order.provider.name
        %span.pull-right
          Fecha:
          -#= purchase_order.invoice_date
  .panel.panel-default
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th
              Cantidad
            %th
              Unidad
            %th
              Concepto
            %th
              Precio unitario
        %tbody
          = render partial: 'item_material', collection: @item_materials


