$('#purchase_orders').html("#{j( render partial: 'purchase_order', collection: @purchase_orders )}");
- if @purchase_orders.count == 0
  $('#purchase_orders').append("<div class='well'> No hay ordenes de compra</div>")

$('#sent').attr('class', "#{'active' if @type_list ==  'sent'}");
$('#not_sent').attr('class', "#{'active' if @type_list ==  'not_sent'}");
$('#all').attr('class', "#{'active' if @type_list ==  'all'}");

