.page-header
  %h3
    = link_to @construction.title, construction_path(@construction)
    %small
      Nueva Orden de compra

= react_component 'PurchaseOrderCreator', requisition: @requisition,construction_address: @construction.address