.page-header
  %h1
    = link_to @invoice.construction.title, construction_path(@invoice.construction)
    %small
      Factura -
      %span.label.label-info
        = @invoice.folio

= render partial: 'invoice',locals: {invoice: @invoice}

