.page-header
  %h1
    = link_to @payment.construction.title, construction_path(@payment.construction)
    %small
      Pagos Factura -
      - if @payment.invoice
        = link_to @payment.invoice.folio,invoice_path(@payment.invoice),class: 'btn btn-info'
      - else
        Gasto sin factura



.panel.panel-default.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th #
        %th Cantidad
        %th Metodo de pago
        %th Fecha de pago
        %th
    %tbody
      = render partial: 'adjustment', collection: @adjustments

