var notifications = $('#notifications');
$('#notifications-count').html("#{@notifications.unseen.count}");
notifications.html("#{j( render partial: 'common/notifications')}");
notifications.click(function(e){e.preventDefault()});