%tr
  %td=link_to user.name, user_path(user)
  %td= user.phone
  %td= user.email
  %td
    .btn-group
      = link_to 'Edit', edit_user_path(user), class: 'btn btn-warning'
      = link_to 'Destroy', user_path(role: params[:role],id: user.id), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }
