%h1 Editando contraseña
=  simple_form_for(@user,url: { :action => "update_password" } , html: { class: 'form-horizontal' }) do |f|
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit
