.page-header
  %h1
    Nueva Requisicion
    %small
      = link_to @construction.title, construction_path( @construction)

= react_component 'RequisitionForm',{construction_id: params[:construction_id]}
