$('#payments').html("#{j (render partial: 'constructions/payment',collection: @payments)}");


- if @type_list ==  Payment::DUE_STATUS
  $('#due').attr('class', "active");
  $('#paid').attr('class', '');
  $('#partially').attr('class', '');
  $('#all').attr('class', '');
- elsif @type_list == Payment::PAID_STATUS
  $('#due').attr('class', "");
  $('#paid').attr('class', 'active');
  $('#partially').attr('class', '');
  $('#all').attr('class', '');
- elsif @type_list == Payment::PARTIALLY_DUE_STATUS
  $('#due').attr('class', "");
  $('#paid').attr('class', '');
  $('#partially').attr('class', 'active');
  $('#all').attr('class', '');
-else
  $('#locked').attr('class', "");
  $('#pending').attr('class', '');
  $('#partially').attr('class', '');
  $('#all').attr('class', 'active');
