.nested-fields
  = f.association :user, collection: User.subordinates
  = f.input :role, collection: ConstructionUser::ROLES
  = link_to_remove_association "remove resident", f,class: 'btn btn-warning'