.list-group-item
  %h3.list-group-item-heading
    = construction_own.title
    %small
      = construction_own.manager.name if !construction_own.manager.nil?
    .btn-group.pull-right{"aria-label" => "...", :role => "group"}
      = link_to 'Caja chica',petty_cashes_path(construction_id: construction_own),class: 'btn btn-default'
      = link_to 'Requisiciones', requisitions_path(construction_id: construction_own.id, mode: :own), {class: "button btn btn-default", type: "button"}
