%h3.text-center.text-muted
  Gastos
  -#%button{onclick: "ReactDOM.render(React.createElement(PaymentModal,{construction_id: #{@construction ? @construction.id : @office.id}}),document.getElementById('mod'));",class: 'btn btn-primary'}
  %button{onclick: "window.createPayment(#{@construction ? @construction.id : @office.id})",class: 'btn btn-primary'}
    Gastos sin requisicion

= render partial: 'constructions/payment_tabs'
.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Factura
          %th
            Orden de compra
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
          %th
      %tbody#payments
        = render partial: 'home/payment', collection: @payments
#mod