= render partial: 'constructions/payment_tabs'
.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Factura
          %th
            Orden de compra
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
          %th
      %tbody#payments
        = render partial: 'home/payment', collection: @payments
        - if @payments.empty?
          %tr
            %td No hay pagos
#mod
