= render partial: 'constructions/payment_tabs'
.panel.panel-default
  .table-responsive
    %table.table.table-hover.table-responsive.table-bordered
      %thead
        %tr
          %th
            Fecha
          %th
            Folio
          %th
            Folio Provedor
          %th
            Orden de compra
          %th
            Requisicion
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
      %tbody#payments
        = render partial: 'payments/payment', collection: @payments
        - if @payments.empty?
          %tr
            %td No hay pagos
= render partial: 'payments/pagination'
#mod
#invoices
