%a.list-group-item{:href => "#{requisition_path(requisition)}"}
  %h3.list-group-item-heading
    = "Requisicion : #{requisition.folio}"
    %span{class: " label label-#{day_color requisition.requisition_date} pull-right"}
      -#= time_ago_in_words requisition.requisition_date