.construction-special-date
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.cons-st-prog
{
	margin-top: 2px;
	margin-bottom: 10px;
	height: 8px;
}

.cons-inf-title
{
	margin-top: 5px;
	margin-bottom: 2px;
}