.construction-special-date
{
  margin-top: -18px;
  margin-bottom: -5px;
}

.construction-special-row
{
  padding-bottom: 0px;
  padding-top: 0px;
}

.construction_estimates_row
{
  margin-top: -30px;
  margin-bottom: -5px;
}

.fix-estimates-buttons
{
  margin-top: 10px;
}
