%tr
  %td= link_to material.name,material
  %td= material.description
  %td= link_to 'Editar', edit_material_path(material)
  %td= link_to 'Eliminar', material, :method => :delete, :data => { :confirm => '¿Seguro desea eliminar este material?' }
