%table
  %tr
    %th Nombre
    %th Descripcion
    %th Unidad de medida
  - @materials.each do |material|
    %tr
      %td
        = material.name
      %td
        = material.description
      %td
        = material.measure_unit
%h3 Nuevo material
= button_to "Crear", new_material_path, method: :get